@import '../../styles/variables';

.entity {
  padding: 20px 0;
}

.entity__title {
  font-weight: normal;
  margin-bottom: 10px;
}

.entity__details {
  display: flex;
}

.entity__summary {
  margin-left: 20px;
}


@media (max-width: $media-breakpoint-mobile) {
  .entity__details {
    flex-direction: column;
  }

  .entity__image {
    max-width: 210px;
  }

  .entity__summary {
    margin: 10px 0 0;
  }
}
