@import '../../styles/variables';

.episode {
  margin-top: 20px;
}

.episode__button {
  width: 60px;
  color: $pink;
  font-size: 14px;
  text-align: left;
  background: $white;
  padding: 5px 0;
  border: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
