@import '../../styles/variables';

.episodes {
  margin-top: 30px;
}

.episodes__title {
  font-weight: normal;
  margin-bottom: 15px;
}

.episodesList {
  display: flex;
  justify-content: space-between;
  overflow-y: scroll;
}

.episodesList__episode {
  min-width: 250px;

  &:not(:first-child) {
    margin-left: 20px;
  }
}

@media (max-width: $media-breakpoint-mobile) {
  .episodesList {
    flex-direction: column;
  }

  .episodesList__episode {
    &:not(:first-child) {
      margin: 20px 0 0;
    }
  }
}
