@import '../../styles/variables';

.home {
  padding: 20px 0;
}

.home__link {
  align-self: flex-start;
  color: white;
  padding: 10px;
  background: $pink;
  border: 2px solid $black;

  &:hover {
    background: lighten( $pink, 10% )
  }
}
